html, body{
  background: radial-gradient( #00152b 80%, #001d5c 110%);
  animation: color 8s infinite alternate;
}

.App {
  text-align: center;
}

@keyframes color{
  0%{
    -webkit-filter:hue-rotate(0deg)
  }
  50%{
    -webkit-filter:hue-rotate(-10deg)
  }
  to {
    -webkit-filter:hue-rotate(0deg)
  }
}